*.class
.idea
build/**
*.bin
artifact.jar
atptool.jar
*.iml
target/**
run.sh
**/target/**
# Should be genreated during compilation
atp-client-api/src/main/resources/atp-client-tool.jar
atp-client-api/src/main/atp-client-api
.T*
